absl-py==1.3.0; python_version >= "3.7"
astunparse==1.6.3
attrs==19.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
cloudpickle==1.6.0; python_version >= "3.5"
decorator==4.4.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
flatbuffers==2.0.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
gast==0.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
google-auth-oauthlib==0.4.6; python_version >= "3.7"
google-auth==2.15.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0
grpcio==1.51.1; python_version >= "3.7"
h5py==3.7.0; python_version >= "3.7"
idna==3.4; python_version >= "3.7" and python_version < "4"
importlib-metadata==5.1.0; python_version < "3.10" and python_version >= "3.7"
keras-preprocessing==1.1.2
keras==2.7.0
libclang==14.0.6
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
numpy==1.19.5; python_version >= "3.6"
oauthlib==3.2.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
opt-einsum==3.3.0; python_version >= "3.5"
pillow==6.2.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
protobuf==3.19.6; python_version >= "3.7"
psutil==5.9.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
pyserial==3.5
pyusb==1.2.1; python_full_version >= "3.6.0"
pyyaml==6.0; python_version >= "3.6"
requests-oauthlib==1.3.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
rsa==4.9; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
scipy==1.7.3; python_version >= "3.7" and python_version < "3.11"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
tensorboard-data-server==0.6.1; python_version >= "3.7"
tensorboard-plugin-wit==1.8.1; python_version >= "3.7"
tensorboard==2.11.0; python_version >= "3.7"
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.28.0; python_version >= "3.7" and python_version < "3.11"
tensorflow==2.7.4
termcolor==2.1.1; python_version >= "3.7"
tflite==2.1.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
tornado==6.2; python_version >= "3.7"
typed-ast==1.5.4; python_version >= "3.6"
typing-extensions==4.4.0; python_version < "3.8" and python_version >= "3.7"
urllib3==1.26.13; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
werkzeug==2.2.2; python_version >= "3.7"
wrapt==1.14.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
zipp==3.11.0; python_version < "3.10" and python_version >= "3.7"
