[submodule "dmlc-core"]
	path = 3rdparty/dmlc-core
	url = https://github.com/dmlc/dmlc-core.git
[submodule "dlpack"]
	path = 3rdparty/dlpack
	url = https://github.com/dmlc/dlpack.git
[submodule "3rdparty/rang"]
	path = 3rdparty/rang
	url = https://github.com/agauniyal/rang.git
[submodule "3rdparty/vta-hw"]
	path = 3rdparty/vta-hw
	url = https://github.com/apache/tvm-vta.git
[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = https://github.com/tlc-pack/libbacktrace.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/OpenCL-Headers"]
	path = 3rdparty/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
