sudo: false

language: cpp

os:
  - linux
  - osx

env:
  # code analysis
  - TASK=lint
  - TASK=cpp_test
  - TASK=python_test

branches:
  only:
    - master

matrix:
  exclude:
    - os: osx
      env: TASK=lint

# dependent apt packages
addons:
  sources:
      - ubuntu-toolchain-r-test
  apt:
    packages:
      - doxygen
      - wget
      - git
      - unzip
      - gcc-4.8
      - g++-4.8
      - python-numpy
      - python-nose
      - python3-dev
      - python3-nose
      - graphviz

before_install:
  - source dmlc-core/scripts/travis/travis_setup_env.sh
  - export PYTHONPATH=${PYTHONPATH}:${PWD}/python

install:
  - source tests/travis/setup.sh

script:
  - tests/travis/run_test.sh

cache:
  directories:
    - ${HOME}/.cache/usr

before_cache:
  - dmlc-core/scripts/travis/travis_before_cache.sh

after_failure:
  - tests/travis/travis_after_failure.sh

notifications:
# Emails are sent to the committer's git-configured email address by default,
  email:
    on_success: change
    on_failure: always
