# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/codegen/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @yzhliu

# WebGL backends
src/runtime/opengl/*    @phisiart
src/codegen/*opengl*    @phisiart

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei
