autodocsumm
linkify-it-py
matplotlib
myst-parser
nbconvert
nbsphinx
nbstripout
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-reredirects==0.1.2
sphinx-tabs == 3.4.1
sphinx-toolbox == 3.4.0
sphinxcontrib-mermaid
sphinxcontrib-napoleon==0.7
sphinxcontrib_httpdomain==1.8.1
tomli
urllib3>=2.5.0
