{% include "utils/base.groovy.j2" with context %}
{% import 'utils/macros.j2' as m with context -%}

{% call m.invoke_build(
  name='BUILD: WASM',
  node='CPU-SMALL',
  condition='!skip_ci && is_docs_only_build != 1',
  ws='tvm/build-wasm',
  docker_image='ci_wasm',
) %}
  sh (
    script: "${docker_run} ${ci_wasm} ./tests/scripts/task_config_build_wasm.sh build",
    label: 'Create WASM cmake config',
  )
  cmake_build(ci_wasm, 'build', '-j2')
  make_standalone_crt(ci_wasm, 'build')
  make_cpp_tests(ci_wasm, 'build')
  cpp_unittest(ci_wasm)
  ci_setup(ci_wasm)
  sh (
    script: "${docker_run} ${ci_wasm} ./tests/scripts/task_web_wasm.sh",
    label: 'Run WASM lint and tests',
  )
{% endcall %}
