<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.dmlc.tvm.tvmrpc" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RPCWatchdogService"
         android:process=":RPCWatchdogServiceProcess"
         android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity
            android:name=".RPCActivity"
            android:process=":RPCProcess"
            android:label="@string/rpc_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
