attrs>=21.2.0
certifi>=2018.1.18
cloudpickle>=1.6.0
decorator>=4.1.2
ethos-u-vela>=2.1.1
flatbuffers>=1.12
h5py>=2.7.1
idna>=2.6
lxml>=4.6.3
nose>=1.3.7
numpy>=1.19.5
Pillow>=5.1.0
protobuf>=3.0.0
psutil>=5.8.0
pyparsing>=2.2.0
requests>=2.18.4
scipy>=0.19.1
six>=1.11.0
synr>=0.3
tflite>=2.4.0
tornado>=6.1
urllib3>=1.22
