def lint() {
  stage('Lint') {
    parallel(
      {% call m.sharded_lint_step(
          name='Lint',
          num_shards=2,
          node='CPU-SMALL',
          ws='tvm/lint',
          docker_image='ci_lint',
        )
      %}
        sh (
          script: "${docker_run} ${ci_lint} ./tests/scripts/task_lint.sh",
          label: 'Run lint',
        )
      {% endcall %}
    )
  }
}
