# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# GH actions.
# We use it to cover windows and mac builds
# Jenkins is still the primary CI

name: WinMacBuild

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  Build:
    strategy:
      matrix:
        os: [windows-2016, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Initialize submodules
      run: git submodule update --recursive --init
    - uses: actions/cache@v1
      env:
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('conda/build-environment.yaml') }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: tvm-build
        channel-priority: strict
        environment-file: conda/build-environment.yaml
        auto-activate-base: false
        use-only-tar-bz2: true
    - name: Conda info
      run: |
        conda info
        conda list
    - name: Conda-Build@Win
      if: startsWith(matrix.os, 'windows')
      shell: cmd /C call {0}
      run: >-
        conda build --output-folder=conda/pkg conda/recipe &&
        conda install tvm -c ./conda/pkg
    - name: Conda-Build@MacOS
      if: startsWith(matrix.os, 'macOS')
      shell: bash -l {0}
      run: >-
        conda build --output-folder=conda/pkg  conda/recipe &&
        conda install tvm -c ./conda/pkg
    - name: Build iOS RPC@MacOS
      if: startsWith(matrix.os, 'macOS')
      run: |
        CMAKE_FLAGS="-DCMAKE_BUILD_TYPE=Debug \
                     -DCMAKE_SYSTEM_NAME=iOS \
                     -DCMAKE_SYSTEM_VERSION=14.0 \
                     -DCMAKE_OSX_SYSROOT=iphonesimulator \
                     -DCMAKE_OSX_ARCHITECTURES=x86_64 \
                     -DCMAKE_OSX_DEPLOYMENT_TARGET=14.0 \
                     -DCMAKE_BUILD_WITH_INSTALL_NAME_DIR=ON \
                     -DCMAKE_XCODE_ATTRIBUTE_DEVELOPMENT_TEAM=XXXXXXXXXX \
                     -DUSE_IOS_RPC=ON"

        mkdir build-ios-simulator
        cd build-ios-simulator
        cmake .. ${CMAKE_FLAGS}
        cmake --build . --target custom_dso_loader ios_rpc
    - name: Test@Win
      if: startsWith(matrix.os, 'windows')
      shell: cmd /C call {0}
      run: >-
        python -m pytest -v tests/python/all-platform-minimal-test
    - name: Test@MacOS
      if: startsWith(matrix.os, 'macOS')
      shell: bash -l {0}
      run: >-
        python -m pytest -v tests/python/all-platform-minimal-test
    - name: Test iOS RPC@MacOS
      if: startsWith(matrix.os, 'macOS')
      shell: bash -l {0}
      run: >-
        export BUNDLE_ID=org.apache.tvmrpc &&
        export BUNDLE_PATH=build-ios-simulator/apps/ios_rpc/ios_rpc/src/ios_rpc-build/Debug-iphonesimulator/tvmrpc.app &&
        python -m pytest -vrP tests/python/contrib/test_rpc_server_device.py
